## 1) Standard Imports & Data Loader

In [11]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn import metrics
import pickle

In [2]:
# Loading in data
df = pd.read_csv('../data/admission_train.csv')

df.head(3)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72

In [3]:
df = df.drop(columns=['Serial No.'])

df.head(3)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72

## 3) Data Cleaning: Standardize Column Names

In [4]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [6]:
df.columns = ['GRE', 'TOEFL', 'university_rating', 'statement_of_purpose', 'letter_of_recommendation', 'GPA', 'research', 'chance_of_admit']
df.head(3)

,GRE,TOEFL,university_rating,statement_of_purpose,letter_of_recommendation,GPA,research,chance_of_admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72

## 4) Building Linear Regression Model

In [8]:
# Setting up our features and target labels:
features = list(set(df.columns) - set(['chance_of_admit']))
target = 'chance_of_admit'

train_X = df[features]
train_y = df[target]

### Initializing Linear Regression Model & Training

In [9]:
linear_reg = LinearRegression()
linear_reg.fit(train_X, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## 5) Evaluating Model

In [12]:
# Load in test models here and do evaluation

## 6) Saving & Exporting our Model

In [ ]:
filename = '../models/linear_regression.sav'
pickle.dump(linear_reg, open(filename, 'wb'))